/* COMMONS */
html{
    font-size: 100%;
}

img{
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
}


/* UTILITIES */

/* DEBUGS */
[class*="col-"],
.col{
    border: 1px solid black;
}

/* HEADER */
.ms_lg-container{
    width: 100%;
}


.header_top{
    width: 100%;
    height: 40px;
}

.sony_logo{
    width: 20%;
}

.header_bottom{
    width: 100%;
    height: 60px;
    /* DEBUG */
    background-color: aquamarine;
}

/* MAIN */
/* JUMBOTRON */
.jumbotron{
    width: 100%;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    min-height: 500px;
}

.text_area{
    bottom: 10%;
    left: 5%;
}

.ms_card{
    /* DEBUG */
    background-color: chartreuse;
    border: 1px solid black;
    min-height: 110px;
}

/* MS_CONSOLE-SECTION */
.console_img{
    /* DEBUG */
    background-color: chocolate;
    min-height: 100px;
}

/* ACCESSORIES-SECTION */
.accessories-element{
    /* DEBUG */
    min-height: 130px;
    background-color: darkgreen;
}

/* BANNER-SECTION */
.banner{
width: 100%;
background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
background-size: cover;
    /* DEBUG */
    min-height: 600px;
}

.it-take-logo{
    width:80%;
}

.ms_bg-darkgrey{
    background-color: rgb(39, 33, 33);
}

/* PLAY-PLUS-SECTION */
.play-plus{
    /* DEBUG */
    background-color: rgb(172, 152, 152);
}


/* FOOTER */